terraform {
  backend "azurerm" {
    resource_group_name  = "rg-terraform-backend"
    storage_account_name = "sthasibetfstate"
    container_name       = "tfstate"
    key                  = "terraform-azure-infrastructure.tfstate"
  }
}
